
/* keyframes */


@keyframes typing{
    0%{
        width: 0;
    }
    40%{
        width: 470px;
    }
    60%{
        width: 470px;
    }
    100%{
        width: 0;
    }
}

@keyframes blink{
    50% {
        border-right-color: transparent;
    }
}

/* tags basicas */

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #111827;
}

hr{
    height: 0.12rem;
    color: white;
    background-color: white;
}

/* navbar */

nav{
    display: flex;
    position: fixed;
    justify-content: end;
    background-color: #34d3991c;
    backdrop-filter: saturate(180%) blur(20px);
    padding: 0.56rem;
    width: 100%;
    
}

nav a.active{
    color: #34D399;
    border-bottom: 0.185rem solid #34D399;
    transition: ease-out 0.3s;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0.6rem 4.3rem;
}

nav ul li{
    padding-left: 3.12rem;
    font-size: 1.4375rem;
}

nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.966);
    cursor: pointer;
    font-family: fantasy;
}

nav ul li a:hover{
    color: #34D399;
    border-bottom: 0.185rem solid #34D399;
    transition: ease-out 0.4s;
}

/* seção inicio */

#inicio{
    display: flex;
    flex-direction: column;
    padding-left: 6.2rem;
    padding-top: 8.1rem;
    padding-bottom: 9.3rem;
}

#inicio h2{
    color: white;
    font-size: 3.75rem;
    padding-left: 1.25rem;
    font-family: sans-serif;
}

#inicio p{
    color: white;
    font-size: 2.5rem;
    padding: 1.25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#inicio .msg{
    color: #34D399;
    font-size: 4.375rem;
    padding-left: 1.25rem;
    font-family: fantasy;
    font-weight: normal;
    border-right: 0.25rem solid #34D399;
    width: 29.375rem;
    overflow: hidden;
    white-space: nowrap;
    animation: blink 0.5s infinite,
                typing 5s infinite steps(25);
}

#inicio .contato img{
    border: 0.25rem solid #34D399;
    border-radius: 50%;
    height: 3.125rem;
    width: 3.125rem;
    background: transparent;
    margin-right: 0.625rem;
    padding: 0.4375rem;
}

#inicio .contato img:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

#inicio .contato{
    padding-left: 3.75rem;
    padding-right: 12.5rem;
}

/* seção sobre */

#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5.625rem;
}

#sobre h1{
    font-size: 5.625rem;
    color: white;
    font-family: fantasy;
    font-weight: normal;
    margin: 0 15.625rem;
}

#sobre h2{
    font-size: 3.75rem;
    font-family: fantasy;
    font-weight: lighter;
    color: #34D399;
    margin: 0 15.625rem;
}

#sobre p{
    font-size: 1.8rem;
    color: white;
    font-family: sans-serif;
    margin: 3.125rem 15.625rem;
}

/* seção projetos */

#projetos{
    padding-top: 5.625rem;
    margin-bottom: 5.625rem;
}

#projetos h1{
    font-size: 5.625rem;
    color: white;
    font-family: fantasy;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin-bottom: 5.625rem;
}

#projetos span{
    color: #34D399;
}

#projetos a{
    text-decoration: none;
    color: #111827;
}

#projetos .cardgrupo{
    display: flex;
    justify-content: center;
    gap: 25px;
}

#projetos .card{
    width: 225px;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

#projetos .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
}

#projetos .card .layer{
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity: 0;
    transition: 0.3s;
}

#projetos .card .info{
    position: absolute;
    bottom: -50%;
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom, 1.75s opacity;
    color: #34D399;
    font-family: sans-serif;
    font-weight: normal;
}

#projetos .info p{
    font-size: 14px;
    margin-top: 3px;
    color: white;
    font-weight: lighter;
}

#projetos .info button{
    background-color: #34D399;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 8px;
}

#projetos .card:hover, 
.card:hover img,
.card:hover .layer{
    transform: scale(1.1);
}

#projetos .card:hover > .layer{
    opacity: 1;
}

#projetos .card:hover > .info{
    bottom: 0;
    opacity: 1;
}

#projetos .cardgrupo:hover > .card:not(:hover){
    filter: blur(5px);
}

/* seção contato */

#contato h2{
    font-size: 5.625rem;
    color: white;
    font-family: fantasy;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin-bottom: 5.625rem;
    padding-top: 5.625rem;
}

#contato span{
    color: #34D399;
}

#contato .contatos{
    display: flex;
    justify-content: center;
}

#contato .gruponome{
    position: relative;
}

#contato label{
    color: #34D399;
    padding: 0 6px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 4em;
    pointer-events: none;
    transition: .3s;
    font-size: 25px;
    font-family: fantasy;
    font-weight: lighter;
}

#contato input{
    color: white;
    border: 3px solid white;
    background: transparent;
    border-radius: 7px;
    width: 25rem;
    height: 4.375rem;
    padding: 0 1rem;
    outline: none;
    margin: 3.125rem 4.375rem;
    font-size: 1.4375rem;
    box-shadow: inset 0 7px 20px black;
}

#contato input:focus~label,
#contato input:valid~label,
#contato input:not(:placeholder-shown)~label {
    top: 29%;
    background-color: #111827;
    font-size: 1.5rem;
    left: 15%;
}

#contato .btn{
    display: flex;
    justify-content: center;
}

#contato .btn button{
    border: none;
    margin: 3.125rem 0;
    padding: 0.625rem 1.06rem;
    font-size: 1.8rem;
    background-color: #34D399;
    color: #111827;
    border: 2px solid white;
    border-radius: 999px;
    cursor: pointer;
}

#contato button:hover{
    background-color: #218862;
    color: #111827;
    transition: ease-in-out 0.1s;
}

#contato .pop-msg dialog{
    margin: auto;
}

/* popup de mensagem */

dialog{
    width: 34.3125rem;
    height: 14.375rem;
    border: 0.25rem solid #111827;
    box-shadow: inset 0 0 10px black;
}

dialog h4{
    padding-top: 1.25rem;
    color: #111827;
    font-family: sans-serif;
    font-size: 1.875rem;
    display: flex;
    justify-content: center;
}

dialog p{
    padding: 0.9rem 0.9rem;
    font-size: 1.25rem;
    color: #111827;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

#contato .pop-msg dialog button{
    border: none;
    margin-left: 12.5rem;
    padding: 0.625rem 1.06rem;
    font-size: 1.875rem;
    background-color: #34D399;
    color: #111827;
    border: 0.125rem solid #111827;
    border-radius: 999px;
    font-family: sans-serif;
    cursor: pointer;
}

#contato .pop-msg dialog button:hover{
    background-color: #218862;
    color: #111827;
    transition: ease-in-out 0.1s;
}

/* footer */

footer{
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 1.25rem;
    font-size: 1.1875rem;
    font-weight: 400;
}

/* botão voltar ao topo */

#btn-voltar{
    position: fixed;
    bottom: 2.7rem;
    right: 2.7rem;
    background-color: #34D399;
    color: #111827;
    border: 0.125rem solid white;
    padding: 0.5rem 1.2rem;
    font-size: 1.875rem;
    border-radius: 999px;
    cursor: pointer;
}

#btn-voltar:hover{
    background-color: #218862;
    color: #111827;
    transition: ease-in-out 0.1s;
}